<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" />
        <link rel ="stylesheet" href="static/css/style.css" />
    </head>
        <body>
            <div class="jumbotron text-center">
                <h1>Welcome To The Study</h1>
                <p class="lead">This is a rhythm recreation study and performance assessment tool developed by Noel Alben to
                  aid in his research.
                  We are looking for volunteers to participate in an online experiment we are conducting concerning rhythm pedagogy. The study is conducted online and consists 
                  of only one half-hour session using this website. You will interact with this app, which teaches you how to clap common rhythmic patterns. We’d love it if you would be willing to help us out! 
                  Unfortunately, there would be no compensation to you, other than the good feeling of helping science!

                  Only adults (18 years or older) may participate. If you are interested in partici- pating, please contact Noel Alben at noelalben@gatech.edu.

                  To continue with your participation in this study please click the continue button.
                  
                </p>
                <h3>Before you start please read through these instructions:</h3>
                <div align ="left">
                  <ul>
                  <li>This study works best when you are on a desktop or laptop, earphones are not necessary</li>
                  <li> You will be asked to clap or tap musical rhythms in this study, please ensure you are in a quiet environment where you can do so</li>
                  <li> In the next page you will be asked to fill a questionare</li>
                </ul>
              </div>
              <form method="post">
                <input type="submit" value="Continue" >
             </form>        
        </body>