<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" />
        <link rel ="stylesheet" href="static/css/style.css" />
    </head>
        <body>
            <div class="jumbotron text-center">
                <h1>Instructions</h1>
                <p class="lead">
                    In this study each participants goal is to listen to rhythmic patterns and succesffully learn to replicate 
                    and play the patterns using any percussion instrument of choice or just your hands. 
                  </p>
                <div align ="left">
                  <ul>
                  <li>This study works best when you are on a desktop or laptop, earphones are not necessary</li>
                  <li> You will be asked to clap or tap musical rhythms in this study, please ensure you are in a quiet environment where you can do so</li>
                  <li> Each partipant needs to complete 6 blocks of rhythmic patterns, each containing 5 patterns, for a total of 30 unique patterns to recreate</li>
                  <li>All 5 rhythmic patterns within a block must be completed successfully to move onto the next block</li>
                  <li>Each pattern will be played to you repeating 4 times and you must perform the pattern 4 times as well for the system to evaluate your performance</li>
                  <li>Each participant will be presented with a practice block to familiarize with the interactions of the application</li>
                  <li> Click on continue to read further instructions</li>
                </ul>
              </div>
              <form method="post">
                <input type="submit" value="Continue" >
             </form>        
        </body>